<!DOCTYPE html>
<html>
<title>Hotel </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>



  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Using this website you can book room online and also see the all facilities of this rooms. Here all types of rooms are available.
    </p>
  </div>

  


</body>
</html>
