<!DOCTYPE html>
<html>
<title>Hotel </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>Online Hotel Booking</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
    <%for (var i=0;i<list.length;i++){ %>
   
    <a href="<%=list[i].link%>" class="w3-bar-item w3-button w3-padding-large"><%=list[i].title %></a>
   <%}%>
    </div>
  </div>
</div>

<!-- Header -->


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
 
  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="Booking">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Booking</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/booking" target="_blank" method="post">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="Date" required name="Date">
      <input class="w3-input w3-section w3-border" type="text" placeholder="No. Of Person" required name="Person">
      <input class="w3-input w3-section w3-border" type="text" placeholder="No. Of Rooms" required name="Rooms">
     <!-- <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">-->
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> Book Room
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<!--<div class="w3-container">
  <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<!--<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>-->

</body>
</html>
